{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <h1>Editar avatar</h1>
    <img src="{% static 'imagenes/avatar.png' %}" alt="avatar"class="heaven"/> 
    <td>
        <img src=" {{ accesorios.imagen.url }} " class="eye"/>
    </td>
    <td>
        <img src="{{caras.imagen.url}}" class="eye"/>
    </td>
    <td>
        <img src="{{vestuario.imagen.url}}" class="eye"/>
    </td>
    <br>
    <br>
    <h3><a href="{% url 'izqacc' %}"><</a> Accesorio <a href="{% url 'deracc' %}">></a></h3>
    <br>
    <h3><a href="{% url 'izqcar' %}"><</a> Cara <a href="{% url 'dercar' %}">></a></h3>
    <br>
    <h3><a href="{% url 'izqves' %}"><</a> Ropa <a href="{% url 'derves' %}">></a></h3>
    

</body>
</html>