{% extends 'perfiles/base.html' %}
{% block content %}


<h1> Inicio </h1>
<p>Ramos inscritos:</p>
<ul>
    {% for ramo in ramos%}
    <li>{{ramo.ramo}} Dificultad: {{ramo.dificultad}}</li>
    {% endfor %}
</ul>
<p>Horario:</p>
<ul>
    {% for dia in horario%}
    <li>{{dia.day}}: B1: {{dia.b1}} B2: {{dia.b2}} B3: {{dia.b3}} B4: {{dia.b4}} B5: {{dia.b5}} B6: {{dia.b6}} B7: {{dia.b7}} B8: {{dia.b8}} B9: {{dia.b9}} B10: {{dia.b10}}</li>
    {% endfor%}
</ul>
<p><a href="{% url 'updatet1' %}">Cambiar Test 1</a></p>
<p><a href="{% url 'Test2' %}">Hacer Test 2</a></p>
<p><a href="{% url 'avatar' %}">Personalizar avatar</a></p>
<p><a href="{% url 'login' %}">Cambiar usuario</a></p>
<p><a href="{% url 'logout' %}">Salir</a></p>
{% endblock %}
