{% extends 'perfiles/base.html' %}
{% load static %}
{% block content %}


<h1> Inicio </h1>
<p>Ramos inscritos:</p>
<ul>
    {% for ramo in ramos%}
    <li>{{ramo.ramo}} Dificultad: {{ramo.dificultad}}</li>
    {% endfor %}
</ul>
<p>Horario:</p>
<ul>
    {% for dia in horario%}
    <li>{{dia.day}}: <strong>8:15-9:25</strong>: {{dia.b1}} <strong>9:35-10:45</strong> : {{dia.b2}} <strong> 10:55-12:05 </strong>: {{dia.b3}} <strong>12:15-13:25</strong> : {{dia.b4}} <strong> 14:30-15:40</strong>: {{dia.b5}} <strong>15:50-17:00</strong> : {{dia.b6}} <strong>17:10-18:20</strong> : {{dia.b7}} <strong> 18:30-19:40</strong>: {{dia.b8}} <strong> 19:50-21:00</strong>: {{dia.b9}} <strong> 21:10-22:20</strong>: {{dia.b10}}</li>
    {% endfor%}
</ul>
<p><a href="{% url 'updatet1' %}">Cambiar Test 1</a></p>
<p><a href="{% url 'Test2' %}">Hacer Test 2</a></p>
<p><a href="{% url 'avatar' %}">Personalizar avatar</a></p>
<p><a href="{% url 'login' %}">Cambiar usuario</a></p>
<p><a href="{% url 'logout' %}">Salir</a></p>

<img src="{% static 'imagenes/avatar.png' %}" alt="avatar"class="heaven"/> 
<td>
    <img src=" {{ accesorios.imagen.url }} " class="eye"/>
</td>
<td>
    <img src="{{caras.imagen.url}}" class="eye"/>
</td>
<td>
    <img src="{{vestuario.imagen.url}}" class="eye"/>
</td>

{% endblock %}
