{% extends 'layout.html'%}

{% block content %}
<style>
    table, th, td {
      border:1px solid black;
    }
</style>

 <h1> Ingresa tus horarios ocupados</h1>
 <p> Oprime el boton de cada bloque que tengas ocupado</p>
 <table style="width:100%">    
    <tr>
        <th>Bloque</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
    </tr>
    <tr>
        <th align='center'>1/2</th>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
        <td align='center'><select name="1"><option>Libre</option><option>Ocupado</option></select></td>
   
    </tr>
    <tr>
        <th align='center'>3/4</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>5/6</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>7/8</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>9/10</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>11/12</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>13/14</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>15/16</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>17/18</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>
    <tr>
        <th align='center'>19/20</th>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
        <td align='center'><input type="submit" value="Libre"></td>
    </tr>

 </table>
{% endblock %}