{%extends 'base.html'%}
{% block content %}

<h1>En que horario estas libre</h1>
<form method="post">
    {% csrf_token %}
        <p><strong style="font-size:150%" >Lunes</strong> {{Lunes}} </p>
        <p><strong style="font-size:150%" >Martes</strong> {{Martes}} </p>
        <p><strong style="font-size:150%" >Miercoles</strong> {{Miercoles}} </p>
        <p><strong style="font-size:150%" >Jueves</strong> {{Jueves}} </p>
        <p><strong style="font-size:150%" >Viernes</strong> {{Viernes}} </p>
        <p><strong style="font-size:150%" >Sabado</strong> {{Sabado}} </p>
        <p><strong style="font-size:150%" >Domingo</strong> {{Domingo}} </p>
        <button type="submit">Enviar</button>
</form>


{% endblock %}
