{% extends 'Test/base.html' %}

{% block content%}

<h1>Bienvenido al primer Test</h1>

<h2>Agrega tus ramos</h2>
<form method="post" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Ingresar</button>

<ul>
    {% for ramo in ramos %}
    <li>{{ramo.ramo}}               <a href="{% url 'delete' ramo.id %}">X</a></li>
    {% endfor %}
</ul>

</form>
<form method="post"> 
{% csrf_token %}
<h2>En que horario estas libre</h2>
<p>Selecciona en que bloques estas ocupado y en cuales estudiaras.</p>
        <p><strong style="font-size:150%">Lunes: </strong><strong> {{Lunes}}</strong></p>
        <p><strong style="font-size:150%">Martes: </strong> <strong> {{Martes}}</strong></p>
        <p><strong style="font-size:150%">Miercoles: </strong> <strong> {{Miercoles}}</strong></p>
        <p><strong style="font-size:150%">Jueves: </strong> <strong> {{Jueves}}</strong> </p>
        <p><strong style="font-size:150%">Viernes: </strong> <strong> {{Viernes}}</strong> </p>
        <p><strong style="font-size:150%">Sabado: </strong>  <strong> {{Sabado}}</strong></p>
        <p><strong style="font-size:150%">Domingo: </strong> <strong> {{Domingo}}</strong></p>
    <button type="submit" >Enviar</button>
</form>



{% endblock %}